<div class="modal fade" id="list-<%= list.id %>-edit-modal"
     role="dialog" aria-labelledby="list-edit-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">リストを編集</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="list-form">
          <%= form_with(model: list, class: "form-group") do |f|  %>

            <%= f.label :content, "商品名" %>
            <%= f.text_field :content, placeholder: "名前を入力...", class: "modal-content-form form-control" %>

            <%= f.label :profile, "商品の説明" %>
            <%= f.text_field :profile, placeholder: "説明を入力...", class: "modal-profile-form form-control" %>

            <div class="form-btns">
              <%= f.button class: 'submit-btn modal-submit-btn' do %>
                <i class="btn-icon-form fas fa-check" type="submit"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
