<li id="list-<%= list.id %>" class="list-item">
  <div class="list-img">
    <%= link_to image_tag(list.image_url), '#', data: { toggle: 'modal', target: "#image-#{ list.id }-modal" } if list.image? %>
  </div>
  <div class="list-content">
    <div class="list-name"><%= list.content %></div>
    <div class="list-profile"><%= list.profile %></div>
    <div class="list-btns">
      <% if list.user == current_user %>
        <%= link_to '#', class: 'edit-link', data: { toggle: 'modal', target: "#list-#{list.id}-edit-modal" } do %>
          <i class="edit-btn fas fa-edit"></i>
        <% end %>
        <%= link_to list, method: :delete, remote: true, class: 'delete-link' do %>
          <i class="delete-btn fas fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
<%= render 'lists/edit_modal', list: list %>
<%= render 'shared/image_modal', object: list if list.image? %>
