<div id="rws-search-result" class="row">
  <div class="col-md-12">
    <div class="rakuten-search">
      <%= form_with url: lists_search_path, method: :get, local: true, class: 'form-group' do |f| %>
      <%= f.text_field :keyword, class: 'form-control' %>
      <%= f.submit '検索', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
  <div class="col-md-12">
    <% unless @search_results.nil? %>
      <ul class="search-results">
        <% @search_results.each do |search_result| %>
          <li class="search-result">
            <span><%= link_to (image_tag(search_result['smallImageUrl'])), search_result['productUrlPC'] %></span>
            <span><%= search_result['productName'] %></span>
          </li>
        <% end %>
      </ul>
    <% end %>
    <!--
      <ul>
        <%= RakutenWebService::Ichiba::Genre.root.children.each do |child| %>
          <li><%= child.name %></li>
        <% end %>
      </ul>
    -->
  </div>
</div>
