<div class="reset-container container">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-4 col-sm-3">
      <h1>パスワードの再設定</h1>
      <div class="reset-form">
        <%= form_with(model: @user, url: password_reset_path(params[:id]), local: true, class: "form-group") do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= hidden_field_tag :email, @user.email %>

          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, class: "form-control" %>

          <%= f.label :password_confirmation, "パスワード（確認）" %>
          <%= f.password_field :password_confirmation, class: "form-control" %>

          <div class="reset-btn mx-auto">
            <%= f.submit "パスワードを変更", class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
