<section class="comment-section col-md-8">
  <%= form_with(model: @comment, class: "form-group", remote: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.hidden_field :user_id, value: @current_user.id %>

    <%= f.text_area :content, class: "form-control", id: "comment-content", placeholder: "コメントを記入してください" %>

    <div class="comment-btn">
      <%= f.submit "コメントする", class: "form-btn btn btn-sm btn-primary" %>
    </div>
  <% end %>
  <%= render 'comments/comment_feed' %>
</section>
