<aside id="comment-form" class="row">
  <div class="card col-8 offset-2 pt-3 mt-5">
    <%= form_with(model: @comment, class: "form-group", remote: true) do |f| %>
      <div id="comment-error">
        <%= render 'shared/error_messages', object: f.object %>
      </div>

      <%= f.hidden_field :micropost_id, value: @micropost.id %>
      <%= f.hidden_field :user_id, value: @current_user.id %>

      <%= f.text_area :content, class: "form-control", id: "comment-content", placeholder: "コメントを記入してください" %>
      <%= f.submit "コメントする", class: "btn btn-primary mt-2" %>
    <% end %>
  </div>
  <div class="card col-8 offset-2">
    <div class="row">
      <%= render 'comments/comment_feed' %>
    </div>
  </div>
</aside>
