<% provide(:title, 'ユーザー登録') %>
<section class="signup-wrapper row">
  <div class="col-md-5">
    <div class="signup-title">
      <h2>ユーザー登録</h2>
    </div>
    <div class="signup-form">
      <%= form_with model: @user, local: true, class: "form-group" do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name, "名前" %>
        <%= f.text_field :name, class: "form-control" %>

        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class: "form-control" %>

        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: "form-control" %>

        <%= f.label :password_confirmation, "パスワード（確認）" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>

        <div class="signup-btn">
          <%= f.submit "登録", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
    <div class="signup-opt">
      <span>すでに登録済みの方は<%= link_to 'こちら', login_path %></span>
    </div>
  </div>
</section>
