<% provide(:title, "#{@title}一覧") %>
<section id="show-follow" class="row">
  <div class="col-md-4">
    <%= render 'shared/user_info' %>
    <%= render 'shared/stats' %>
    <% if @users.any? %>
      <div class="user-icons">
        <% @users.each do |user| %>
          <%= link_to image_tag(user.image_url(:thumb25)), user %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-md-5">
    <h3 class="page-title"><%= @title %></h3>
    <%= render 'user_index' %>
  </div>
</section>
