<% provide(:title, @user.name) %>
<section id="user-show" class="row">
  <div class="col-md-4">
    <%= render 'shared/user_info' %>
    <%= render 'shared/stats' %>
    <%= render 'follow_form' if logged_in? %>
  </div>
  <div class="col-md-8">
    <% if @user.posts.any? %>
      <h3>投稿 (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts, params: { controller: :users, action: :show } %>
    <% end %>
  </div>
</section>
