<section class="post-form">
  <%= form_with(model: @post, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.text_area :content, placeholder: "投稿を作成" %>
    <div class="image">
      <%= f.label :image do %>
        <i class="fas fa-image" type="submit"></i>
        <%= f.file_field :image %>
      <% end %>
    </div>

    <%= f.submit "投稿", class: "btn btn-primary" %>
  <% end %>
</section>
