<section class="post-form">
  <%= form_with(model: @post, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.text_area :content, placeholder: "投稿を作成" %>
    <div class="post-btns">
      <%= f.label :image do %>
        <i class="image-btn fas fa-image" type="submit"></i>
        <%= f.file_field :image %>
      <% end %>

      <%= f.submit "投稿", class: "post-btn btn btn-primary" %>
    </div>
  <% end %>
</section>
