<% provide(:title, "#{@search_word} / 検索") %>
<section id="search" class="row">
  <div class="col-md-8">
    <% if @search_results.any? %>
      <ul class="search-results">
        <% @search_results.each do |search_result| %>
          <% if @search_model == "User" %>
            <li class="search-result">
              <span class="user-icon">
                <%= link_to image_tag(search_result.image_url(:thumb60)), search_result %>
              </span>
              <%= link_to search_result.name, search_result %>
            </li>
          <% elsif @search_model == "Post" %>
            <li class="search-result">
              <div class="post-user">
                <%= link_to image_tag(search_result.user.image_url(:thumb25)), search_result.user %>
                <%= link_to search_result.user.name, search_result.user %>
              </div>
              <div class="post-content">
                <%= search_result.content %>
                <div class="post-img">
                  <%= link_to image_tag(search_result.image_url(:thumb)), '#', data: { toggle: 'modal', target: "#image-#{ search_result.id }-modal" } if search_result.image? %>
                </div>
              </div>
              <div class="post-stamps">
                <span class="timestamp">
                  <%= time_ago_in_words(search_result.created_at) %>前
                </span>
                <span class="post-link">
                  <%= link_to post_path(search_result) do %>
                    <i class="fas fa-arrow-right"></i>
                  <% end %>
                </span>
              <div>
            </li>
            <%= render 'shared/image_modal', post: search_result %>
          <% end %>
        <% end %>
      </ul>
      <%= will_paginate @search_results, params: { controller: :searches, action: :search } %>
    <% end %>
  </div>
</div>
