<li id="post-<%= post.id %>" class="post shadow rounded">
  <div class="post-top">
    <%= image_tag post.user.image_url(:thumb25) %>
    <%= link_to post.user.name, post.user %>
    <%= render "likes/like", post: post %>
  </div>
  <div class="post-content">
    <%= post.content %>
  </div>
  <div class="post-image">
    <%= image_tag post.image_url(:thumb) if post.image? %>
  </div>
  <div class="post-stamps">
    <span class="delete_button">
      <% if current_user?(post.user) %>
        <%= link_to "削除", post, method: :delete, data: { confirm: "本当に削除しますか？" } %>
      <% end %>
    </span>
    <span class="timestamp">
      <%= time_ago_in_words(post.created_at) %>前
    </span>
    <span class="post-link">
      <%= link_to post_path(post) do %>
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </span>
  <div>
</li>
