<% provide(:title, "#{@post.user.name} / #{@post.content}") %>
<div id="post-show" class="row">
  <section class="post-section col-md-8">
    <div class="post-top">
      <%= image_tag @post.user.image_url(:thumb60) %>
      <%= link_to @post.user.name, @post.user %>
      <%= render "likes/like", post: @post %>
    </div>
    <div class="post-content">
      <%= @post.content %>
    </div>
    <div class="post-image">
      <%= link_to image_tag(@post.image_url(:thumb)), '#', 'data-toggle': 'modal', 'data-target': '#image-modal' if @post.image? %>
    </div>
    <div class="post-stamps">
      <span class="timestamp">
        <%= time_ago_in_words(@post.created_at) %>前
      </span>
    <div>
  </section>
  <%= render 'comments/comment' %>
</div>
<%= render 'shared/image_modal', post: @post %>
