<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="card col-10">
      <span class="card-title">
        <%= link_to @micropost.user.name, @micropost.user %>
      </span>
      <span class="card-text">
        <%= @micropost.content %>
        <%= image_tag @micropost.display_image if @micropost.image.attached? %>
      </span>
      <div class="row d-flex justify-content-center">
        <div class="like_button col-3">
          <%= render "likes/like", micropost: @micropost %>
        </div>
        <div class="col-3"></div>
        <div class="delete_button col-3">
          <% if current_user?(@micropost.user) %>
            <%= link_to "削除", @micropost, method: :delete, data: { confirm: "本当に削除しますか？" } %>
          <% end %>
        </div>
        <div class="timestamp col-3">
          <%= time_ago_in_words(@micropost.created_at) %>前
        </div>
      </div>
    </div>
  </div>
</div>
